/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-size: 18px;
  font-family: var(--main-font, sans-serif);
  font-variation-settings: "wght" var(--main-font-weight);
  color: var(--accent-color);
  background-color: var(--background-color);
  background-image: var(--background-image);
  background-size: 4px;
  background-repeat: repeat;
  background-attachment: fixed;
}

.block-wrapper {
  border: 2px solid currentColor;
  background-color: var(--background-color);
  width: clamp(375px, 100%, 700px);
  margin: auto;
}

.header {
  font-family: var(--accent-font, fantasy);
  margin-block: 100px;
  text-align: center;
  padding-block-start: clamp(120px, 30%, 136px);
}

.header__logo {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  margin-block-end: 20px;
}

.header__title {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  text-transform: uppercase;
}

.header__theme-menu {
  padding-block: 20px;
  display: flex;
  justify-content: center;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 0.4em;
  align-items: start;
  margin-inline-start: 15px;
}

.button {
  background-color: var(--background-color);
  border: 0;
  cursor: pointer;
}

.theme-menu__button {
  text-transform: uppercase;
  font-size: 14px;
  position: relative;
  transition: opacity 0.3s ease;
}

.theme-menu__button:hover {
  opacity: 0.6;
}

.theme-menu__button::after {
  content: "";
  display: block;
  height: 3px;
  width: 0%;
  transition: 0.3s ease;
}
.theme-menu__button:focus {
  outline: none;
}
.theme-menu__button:focus-visible::after {
  width: 100%;
  background-color: currentColor;
  opacity: 0.6;
}
.theme-menu__button:focus-visible {
  opacity: 0.6;
}

.theme-menu__button:disabled {
  opacity: 0.6;
  pointer-events: none;
}

.theme-menu__button:disabled::before {
  content: "▶";
  position: absolute;
  left: -12px;
  color: currentColor;
  animation: shift 0.5s ease-in-out infinite alternate;
}

.content-section {
  display: flex;
  flex-direction: column;
  border: 0;
}
.card p:not(:last-child) {
  margin-block-end: 27px;
}

.card__title {
  font-variation-settings: "wght" var(--title-font-weight);
  padding: 4px 10px;
  font-size: inherit;
}

.card__image {
  width: 100%;
  border-block: 2px solid currentColor;
  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: right;
}

.card__paragraph {
  margin: 25px;
  line-height: 21px;
}

.card-button-wrapper {
  display: flex;
  gap: 7px;
  margin: 25px;
}
.card__icon-button {
  margin-left: auto;
  padding: 0;
  border: 2px solid transparent;
  transition: 0.3s ease;
  height: 38px;
  width: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card__icon-button:focus {
  outline: none;
}
.card__icon-button:focus-visible {
  border: 2px solid var(--accent-color);
}
.sparks {
  opacity: 0;
}

.core {
  transition: fill 0.03s linear;
  fill: transparent;
}

.card__icon-button:hover .core {
  fill: var(--accent-color);
  transition: fill 0.3s linear;
}

.card__icon-button:active .core,
.like-icon.is-liked .core {
  fill: var(--fill-color);
  transition: fill 0.3s linear;
}

.main-body {
  fill: transparent;
  transition: fill 0.3s linear;
}

.card__icon-button:hover .main-body {
  fill: var(--accent-color);
  transition: fill 0.3s linear 0.05s;
}

.card__icon-button:active .main-body,
.like-icon.is-liked .main-body {
  fill: var(--fill-color);
  transition: fill 0.3s linear 0.05s;
}

.like-icon .contour {
  fill: var(--accent-color);
  transition: fill 0.1s linear;
}

.like-icon.is-liked .contour {
  fill: var(--fill-color);
  transition: fill 0.3s linear 0.06s;
}

.like-icon.is-liked .heart {
  animation: scale 0.3s ease-in 0.1s alternate 1;
  transform-origin: center center;
}

.like-icon.is-liked .sparks {
  animation: opacity 0.3s ease-in 0.3s alternate 1;
}

.card__like-button {
  border: 2px solid currentColor;
  width: 130px;
  height: 38px;
}

.card__save-button {
  border: 2px solid currentColor;
  padding: 15px 20px;
  margin: auto;
  margin-block: 50px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.button__text {
  position: relative;
  font-size: 14px;
  line-height: 0.9;
  font-family: var(--accent-font, fantasy);
  transition: color 1s ease;
  z-index: 1;
}

.card__like-button,
.card__save-button {
  position: relative;
  transition: box-shadow 0.3s ease, color 1s ease;
}

.card__like-button::before,
.card__save-button::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0%;
  transition: 0.5s ease-in-out;
  background-color: currentColor;
}

.card__like-button:hover::before,
.card__save-button:hover::before {
  width: 100%;
}

.card__like-button:hover .button__text,
.card__save-button:hover .button__text {
  color: var(--background-color);
}

.card__save-button:hover .floppy-icon {
  color: var(--background-color);
}

.card__like-button:focus,
.card__save-button:focus {
  outline: none;
}
.card__like-button:focus-visible,
.card__save-button:focus-visible {
  box-shadow: 2px 2px currentColor;
}

.floppy-icon {
  width: 21px;
  z-index: 1;
  transition: color 1s ease;
}

@media (width <= 375px) {
  .floppy-icon {
    width: 28px;
  }

  .card__save-button {
    flex-direction: column;
    gap: 10px;
  }
}
