/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --main-font: "Inter-Variable";
  --accent-font: "PressStart2P";
  --main-font-weight: 400;
  --title-font-weight: 700;
  --background-color: #fff;
  --accent-color: #000;
  --fill-color: #ff0000;
  --button-text-color: #fff;
  --background-line: #d3d3d3;
  --background-image: repeating-linear-gradient(
      var(--background-line) 0,
      var(--background-line) 20px,
      transparent 20px,
      transparent 40px
    ),
    repeating-linear-gradient(
      to right,
      var(--background-line) 0px,
      var(--background-line) 20px,
      transparent 20px,
      transparent 40px
    ),
    linear-gradient(180deg, #e7e7e7 0% 0.01%, #1a1a1a 100%);
}
